<h1 class="text-center text-5xl text-black-800 py-16">HOME</h1>

<p class="text-center text-gray-800 text-4xl font-semibold">Bienvenido a mi aplicación de gestor de tareas</p>
<p class="text-center text-gray-600 text-2xl font-arialnarrow">Trabajo realizado por: </p>
<p class="text-center text-gray-600 text-2xl font-arialnarrow">Materia: Tópicos web</p>

<div class="text-center w-full my-16">
  
  <a href="/tasks" class="font-semibold bg-blue-500 text-xl text-white hover:bg-blue-700 px-8 py-4 text-center rounded-md 
  mx-auto">Comencemos!</a>

</div>